@import "application/common"

.header-container,
.main-container,
.footer-container
    margin: 0

.header-container
    background: $headerBgColor

$insetShadow: inset 0px 1px 3px 0px #000


.main-container
    background: $mainBgColor
    -moz-box-shadow: $insetShadow 
    -webkit-box-shadow: $insetShadow
    box-shadow: $insetShadow

.footer-container
    background: $footerBgColor

.title
    float: left
    display: block
    width: 230px
    height: 54px
    background: url('../img/sprite.png') 0 0 no-repeat
    text-indent: -9999px

@media #{$mediaPhone}
    .title
        margin: 10px

    .page
        width: $pageWidthPhone

@media #{$mediaTablet}
    .page
        width: $pageWidthPhone

@media #{$mediaDesktop}
    
    .title
        margin: 40px 0 45px 0

    .page
        width: 1000px
        margin: 0 auto

    .inner
        margin: 20px 40px
