$bgColor: #37302c

$headerBgColor: #24262c
$mainBgColor: #1b1e22
$footerBgColor: #22252a

$fontBaseSize: 14px

$borderLightColor: #26292e
$borderDarkColor: #17191d 

$textColor: #93959b

$linkColor: #1661b6
$linkColorHover: $textColor

$mediaPhone: "only screen and (min-width: 480px)"

$pageWidthPhone: 460px
$pagePaddingPhone: 10px


$mediaTablet: "screen and (min-width: 768px)"

$pageWidthTablet: 748px

$mediaDesktop: "screen and (min-width: 1000px)"

$gutterLarge: 40px
$gutterSmall: 16px
$gutterTiny: 10px

//$spriteUrl: url('../img/sprite.png')
//$iconSpriteSmallUrl: url('../img/icon-small-sprite.png')
$spriteUrl: url('http://epiphanybuilders.com/assets/14/25/sprite.png')
$iconSpriteSmallUrl: url('http://epiphanybuilders.com/assets/14/26/icon-small-spite.png')

$imageWidthSmall: 280px
$imageHeightSmall: 150px

$imageWidthMedium: 460px
$imageHeightMedium: 287px

$imageWidthLarge: 640px
$imageHeightLarge: 400px


$fontUppercasedSize: 10.3px
$letterSpacing: 1.5px

@mixin uppercased-text($size: $fontUppercasedSize, $spacing: $letterSpacing)
    text-transform: uppercase
    font-size: $size
    letter-spacing: $spacing


@mixin button-gradient
    background: -moz-linear-gradient(top, #31353c 0%, #282c32 100%)
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#31353c), color-stop(100%,#282c32))
    background: -webkit-linear-gradient(top, #31353c 0%,#282c32 100%)
    background: -o-linear-gradient(top, #31353c 0%,#282c32 100%)
    background: -ms-linear-gradient(top, #31353c 0%,#282c32 100%)
    background: linear-gradient(to bottom, #31353c 0%,#282c32 100%)

@mixin remove-gradient
    background: -moz-linear-gradient(none)
    background: -webkit-gradient(none)
    background: -webkit-linear-gradient(none)
    background: -o-linear-gradient(none)
    background: -ms-linear-gradient(none)
    background: linear-gradient(none)
    

