@import "application/common"

.map-container
    display: none



@media #{$mediaTablet}
    .contact-info-container
        float: left
        width: 290px
    .map-container
        display: block
        width: 640px
        overflow: hidden
        float: right