@import "application/common"

i
    display: block
    width: 46px
    height: 46px
    background: $spriteUrl
    
    &.small
        display: inline-block
        width: 23px
        height: 23px

    &.icon-painting
        background-position: 0 -199px
    &.icon-remodels
        background-position: -300px -199px
    &.icon-additions
        background-position: -399px -199px
    &.icon-design
        background-position: -100px -199px
    &.icon-kitchen
        background-position: -548px -199px
    &.icon-baths
        background-position: -600px -199px
    &.icon-electrical
        background-position: -349px -199px
    &.icon-carpentry
        background-position: -49px -199px
    &.icon-hvac
        background-position: -499px -199px
    &.icon-photo
        background-position: -649px -199px

.icon-container
    text-align: center
    display: inline-block
    width: 75px
    height: 75px
    @include uppercased-text

    i
        margin: 0 auto 15px auto
