@import "application/common"

.slide-container
    float: left
    width: $imageWidthSmall
    height: $imageHeightSmall
    background: #fff
    overflow: hidden
    ul
        padding: 0
        margin: 0
        overflow: hidden
        list-style: none
        width: 9999px
        li
            width: $imageWidthSmall
            height: auto
            margin: 0
            padding: 0
            text-align: center
            float: left
            overflow: hidden
            img
                width: $imageWidthSmall
                height: auto



.slide-menu
    margin: 0
    width: $imageWidthSmall
    letter-spacing: $letterSpacing
    font-size: 11px
    overflow: hidden

    .heading
        display: none
        margin: 0 9px

    ul
        text-align: left
        list-style: none
        margin: 0
        padding: 0

        li 
            padding: 0
            margin: 0
            border-bottom: 1px solid $borderLightColor

            a
                display: block
                border-bottom: 1px solid $borderDarkColor
                padding: 10px 0
                text-transform: uppercase

                span 
                    margin-left: 9px

            &.active
                background: #1b1e22
                
                a
                    color: #1661b6
        li:first-child
            border-top: 1px solid $borderLightColor
            a
                border-top: 1px solid $borderDarkColor


//.slide-description

ul.slide-control
    padding: 0
    display: block
    text-align: center
    clear: both
    list-style: none
    white-space: nowrap
    
    li
        margin: 0 2px
        padding: 0
        list-style: none
        display: inline-block

        
        a
            margin: 0
            padding: 0
            display: block
            border-radius: 50%
            width: 12px
            height: 12px
            background: #413934

        &.active
            background: #1661b6


    

.slide-description
    margin-left: 280px
    margin-top: 20px


ul.slide-control
    margin-left: 280px



@media #{$mediaTablet}
    .slide-container
        width: $imageWidthMedium
        height: $imageHeightMedium
        ul
            li
                width: $imageWidthMedium
                height: auto
                img
                    width: $imageWidthMedium
                    height: auto

    .slide-menu
        float: left
        margin-right: $gutterSmall
        width: 240px
        height: $imageHeightMedium


        li 


            a


            span 
                margin-left: 68px

@media #{$mediaDesktop}
    .slide-menu
        float: left
        margin-right: $gutterLarge
        width: 240px
        height: $imageHeightLarge

        .heading
            display: inline-block

            i
                margin: 20px 0

    .slide-container
        width: $imageWidthLarge
        height: $imageHeightLarge
        ul
            li
                width: $imageWidthLarge
                height: auto
                img
                    width: $imageWidthLarge
                    height: auto

