@import "application/common"


.active
    a
        color: #1661b6

nav 
    ul
        margin: 0
        padding: 0
        float: left
        li
            float: left
            margin: 20px 0 25px 20px
            line-height: 16px
            list-style: none
            a
                color: $textColor
                display: block
                white-space: nowrap
                overflow: hidden
                @include uppercased-text

    &.secondary
        ul
            float: right

            li
                margin: 20px 0 25px 15px

                a
                    width: 20px
                    text-indent: -9999px
                    background: $iconSpriteSmallUrl 0 0 no-repeat

                    &.icon-map
                        background-position: 0 -60px
                    &.icon-phone
                        background-position: 0 -120px
                    &.icon-email
                        background-position: 0 -180px

@media #{$mediaTablet}
    nav 
        ul
            li
                float: left
                margin: 20px 35px 25px 0
                line-height: 16px





@media #{$mediaDesktop}

    nav 
        ul
            margin: 0
            padding: 0
            float: left
            li
                float: left
                margin: 20px 35px 25px 0
                line-height: 16px

        &.secondary
            ul
                float: right

                li
                    margin: 20px 0 25px 15px
                    a
                        padding-left: 23px
                        text-indent: 0
                        width: auto

    


    .slide-container
        width: 440px
        height: 300px
        background: #fff